@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}

.bg-img {
  background: url('../public/images/fancy.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-primary-gradient {
  background: linear-gradient(
    180deg,
    #0e0a3e 62.26%,
    #211f4e 81.13%,
    #5b21b6 100%
  );
}

.main-font {
  font-family: 'Rubik 80s Fade';
  font-size: 244px;
  color: #bcbcbd;
}

h2.bg-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 112px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  background: linear-gradient(90deg, #398ecc 14.37%, #f39191 88.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* This property isn't standard, to be used with webkit ^ 
  text-fill-color: transparent; */
}

.infobox-gradient {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 112px;
}

.infobox hr.underline {
  height: 1px;
  background: linear-gradient(90deg, #398ecc 50%, #5b21b6 99.99%);
}

.infobox p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.card {
  border-radius: 15px;
}

.card .card-title {
  padding: 0.2em;
  font-size: 24px;
}
