@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}

.bg-img {
  background: url('../public/images/0_2.png') no-repeat center center fixed;
  background-size: cover;
}

img {
  max-width: 100%;
  display: block;
}
